<h4 class="text-center h1">Our data</h4>
<img src={{CoffeObj.file}} alt="an image of coffe">
<br>
<button class="btn btn-primary" (click)="getCoffe()">Get Image</button>
<div *ngFor="let data of animefacts">
  <img src={{data.anime_img}} alt="">
  <p>{{data.anime_name}}</p>
</div>
<br>
<button (click)="getAnimeData()" class="btn btn-primary">Get Anime Data</button>
<br><br><br>
<button (click)="getGif()" class="btn btn-primary">Get Gif</button>
<div *ngFor="let gifDetail of gifDetails">
  <img src={{gifDetail.images.downsized_medium.url}} alt="This is a gif" srcset="">
</div>